Python == 3.7.3
Flask == 1.0.2
numpy == 1.16.2
pandas == 0.24.2
cv2 == 4.2.0
face_recognition == 1.2.3
dlib == 19.19.0 
scipy == 1.2.1
tensorflow == 2.5.1
flask_sqlalchemy == 2.1
pickle == 4.0
matplotlib == 3.0.3